body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../static/image/Alangilan-entrance-facade.jpg");
  background-size: cover;
  filter: blur(5px);
  z-index: -1;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 50px;
  background: linear-gradient(to right, #fff, #fff, #FF0000);
  justify-content: space-between;
}
.header .container {
  max-width: 1024px;
  max-height: 100px;
  justify-content: space-between;
  margin: 0 auto;
}
.header .container .header-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.header .container .header-wrapper .univ-head {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: #fff;
  position: relative;
  z-index: 1;
  margin-right: 130px;
}
.header .container .header-wrapper .univ-head .logo img {
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.header .container .header-wrapper .univ-head .site-name h1 {
  font-size: 25px;
  margin: 0px 0px 0px 30px;
  font-weight: 900;
  color: black;
}
.header .container .header-wrapper .univ-head .site-name h4 {
  font-size: 20px;
  margin: 0px 0px 0px 30px;
  font-weight: 900;
  color: black;
  font-style: italic;
}
.header .container .header-wrapper .search-bar {
  display: flex;
  margin-right: 20px;
}
.header .container .header-wrapper .search-bar form {
  margin-bottom: 0px;
}
.header .container .header-wrapper .search-bar form button {
  padding: 8px 12px;
  background-color: #555; /* Change button color */
  color: #fff; /* Change text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 0;
}
.header .container .header-wrapper .search-bar form button:hover {
  background-color: #777;
}
.header .container .header-wrapper .search-bar form input[type=text] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.header .container .header-wrapper .login-logout a {
  padding: 7px 12px;
  background-color: #555; /* Change button color */
  color: #fff; /* Change text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 0;
  text-decoration: unset;
}
.header .container .header-wrapper .login-logout a:hover {
  background-color: #777;
}

footer {
  background: linear-gradient(to right, #cf0202, #cf0202, #fff);
  border-top: 1px solid #e9ecef;
}
footer .fcontainer {
  max-width: 1024px;
  justify-content: space-between;
  margin: 0 auto;
}
footer .fcontainer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .fcontainer .footer-content .left-section {
  display: flex;
  align-items: center;
}
footer .fcontainer .footer-content .left-section .logo img {
  height: 70px;
}
footer .fcontainer .footer-content .left-section .title-description h3 {
  color: rgb(255, 255, 255);
  margin-bottom: 5px;
  margin: 0px 0px 0px 5px;
  font-weight: 900;
}
footer .fcontainer .footer-content .left-section .title-description h4 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  margin: 0px 0px 0px 5px;
  font-weight: 900;
  font-style: italic;
}
footer .fcontainer .footer-content .right-section .social-icons a {
  color: #000000;
  font-size: 25px;
  margin-right: 35px;
}
footer .fcontainer .footer-content .right-section .social-icons a:last-child {
  margin-right: 0;
}
footer .fcontainer .footer-content .right-section .social-icons a:hover {
  color: blue;
}

.search .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  min-height: 64.5vh;
}
.search .container .search-wrapper {
  margin: 3rem auto;
}
.search .container .search-wrapper .title {
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 0px auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
}
.search .container .search-wrapper .title h2 {
  margin-bottom: 10px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
.search .container .search-wrapper table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.search .container .search-wrapper table th, .search .container .search-wrapper table td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: left;
}
.search .container .search-wrapper table th {
  background-color: #23afde;
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
}
.search .container .search-wrapper table th:first-child {
  min-width: 150px;
}
.search .container .search-wrapper table tr:nth-child(even) {
  background-color: #eeebeb;
}
.search .container .search-wrapper table tr:nth-child(odd) {
  background-color: #dedede;
}
.search .container .search-wrapper table tr:hover {
  background-color: #fff;
}
.search .container .search-wrapper table td {
  padding: 20px;
  font-size: 18px;
}
.search .container .search-wrapper table td:first-child {
  font-weight: bold;
}
.search .container .search-wrapper table td.event-name {
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
}
.search .container .search-wrapper table td.event-purpose {
  text-align: justify;
}
.search .container .search-wrapper table td.status {
  text-transform: uppercase;
  font-weight: bold;
  color: red;
}
.search .container .search-wrapper table td.facility {
  display: flex;
  justify-content: space-between;
}
.search .container .search-wrapper table td.facility .navigate-button {
  place-content: right;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
}
.search .container .search-wrapper table td.facility .navigate-button:hover {
  background-color: #45a049;
}
.search .container .search-wrapper .return-button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 82.5%; /* Push the button to the right */
  border-radius: 4px;
}
.search .container .search-wrapper .return-button:hover {
  background-color: #0073aa;
}
.search .container .search-wrapper .return-button i {
  margin-left: 5px;
}

.navbar .container .nav-wrapper {
  display: flex;
  align-items: center;
  padding: 5px;
  border-top: 5px solid red;
  background-color: #fff;
  height: 50px;
  padding-top: 10px;
}
.navbar .container .nav-wrapper nav {
  flex: 1;
  text-align: center;
  align-items: center;
}
.navbar .container .nav-wrapper nav ul {
  list-style-type: none;
}
.navbar .container .nav-wrapper nav ul li {
  display: inline-block;
  position: relative; /* Ensure the submenu appears relative to this item */
  margin-right: 20px;
  font-size: bold;
  top: -20px;
}
.navbar .container .nav-wrapper nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}
.navbar .container .nav-wrapper nav ul li a:hover {
  background-color: #f0f0f0; /* Change background color on hover */
  color: crimson;
}
.navbar .container .nav-wrapper nav ul li .submenu {
  display: none;
  position: absolute;
  top: 50%;
  left: -75px;
  padding: 50px;
  justify-content: center;
  z-index: 1;
}
.navbar .container .nav-wrapper nav ul li .submenu li {
  display: block;
  justify-content: center;
  padding: 5px;
  background-color: white;
}
.navbar .container .nav-wrapper nav ul li .submenu li:hover {
  background-color: #f0f0f0;
}
.navbar .container .nav-wrapper nav ul li .submenu li a {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
}
.navbar .container .nav-wrapper nav ul li:hover .submenu {
  display: block; /* Show submenu on parent hover */
  opacity: 1; /* Set opacity to 1 when submenu is visible */
  transition: opacity 0.3s ease; /* Apply transition for opacity */
}
.navbar .container .nav-wrapper a {
  text-decoration: none;
  -moz-columns: #000000;
       columns: #000000;
  font-weight: bold;
}

.calendar .calendar-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 2% 0px 2%;
  top: 10%;
  right: 0%;
  width: 100%;
  height: 100%;
}
.calendar .calendar-container .calendar-wrapper {
  height: -moz-max-content;
  height: max-content;
  margin: 0 auto;
  background-color: white;
  border-radius: 25px;
  padding: 30px 50px;
  box-shadow: var(--shadow);
}
.calendar .calendar-container .calendar-wrapper .calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #007bff; /* Set background color for calendar header */
  color: #fff; /* Set text color for calendar header */
  padding: 10px; /* Add padding to the calendar header */
  text-align: center;
  padding: 15px;
}
.calendar .calendar-container .calendar-wrapper .calendar-header .month-head {
  display: flex;
  align-items: center;
}
.calendar .calendar-container .calendar-wrapper .calendar-header .month-head button {
  background-color: transparent;
  border: none;
  font-size: 15px;
  display: flex;
  gap: 5px;
}
.calendar .calendar-container .calendar-wrapper .calendar-header .month-head .month {
  font-size: 25px;
  font-weight: bold;
}
.calendar .calendar-container .calendar-wrapper .calendar-header .year-head {
  display: flex;
  align-items: center;
}
.calendar .calendar-container .calendar-wrapper .calendar-header .year-head button {
  background-color: transparent;
  border: none;
  font-size: 15px;
  display: flex;
  gap: 5px;
}
.calendar .calendar-container .calendar-wrapper .calendar-header .year-head .year {
  font-size: 25px;
  font-weight: bold;
}
.calendar .calendar-container .calendar-wrapper .calendar-body {
  border: 1px solid #ccc;
  padding: 15px;
}
.calendar .calendar-container .calendar-wrapper .calendar-body #calendar {
  display: grid;
  /* grid-template-columns: repeat(7, 1fr); */
  font-weight: 600;
  cursor: pointer;
  color: rgb(104, 104, 104);
  width: 100%;
}
.calendar .calendar-container .calendar-wrapper .calendar-body #calendar thead {
  margin: 25px 0;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
}
.calendar .calendar-container .calendar-wrapper .calendar-body #calendar td {
  padding: 15px;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
}
.calendar .calendar-container .calendar-wrapper .calendar-body #calendar td:hover {
  background-color: #f0f0f0;
}
.calendar .calendar-container .calendar-wrapper .calendar-body #calendar td.active {
  background-color: #007bff; /* Change background color when clicked */
  color: #fff; /* Change text color when clicked */
}
.calendar .calendar-container .calendar-wrapper .calendar-body #calendar td.current-date {
  background-color: #007bff; /* Change background color of the current date */
  color: #fff; /* Change text color of the current date */
}
.calendar .calendar-container .calendar-wrapper .calendar-body #calendar td.highlighted-date {
  background-color: yellow !important;
}
.calendar .calendar-container .calendar-wrapper .calendar-body .events {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  margin-top: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid;
}
.calendar .calendar-container .calendar-wrapper .calendar-body .events:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.calendar .calendar-container .calendar-wrapper .calendar-body .events h2 {
  font-size: 20px;
}
.calendar .calendar-container .calendar-wrapper .calendar-body .events #carousel-container {
  width: 95%;
  margin: 0 auto;
}
.calendar .calendar-container .calendar-wrapper .calendar-body .events #carousel-container .carousel-item p {
  margin: 5px 0;
  width: 100%;
  font-size: 16px;
  font-weight: unset;
}
.calendar .calendar-container .calendar-wrapper .calendar-body .events #carousel-container .carousel-item .event-preview {
  background-color: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  max-width: 100%;
}
.calendar .calendar-container .calendar-wrapper .calendar-body .events #carousel-container .carousel-item .event-preview p:nth-child(4) {
  text-transform: uppercase;
  color: red;
  font-weight: bold;
}
.calendar .calendar-container .calendar-wrapper .calendar-body .events #carousel-container .carousel-item .event-preview p {
  background-color: rgba(235, 235, 235, 0.2980392157);
  padding: 10px 0px 10px 10px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  text-align: justify;
}
.calendar .calendar-container .calendar-wrapper .calendar-body .events #carousel-container .carousel-item .event-preview p span {
  font-weight: bold;
  margin-right: 5px;
  text-transform: capitalize;
  color: black;
}
.calendar .calendar-container .calendar-wrapper .calendar-body .events #carousel-container .carousel-item .event-preview h3 {
  text-transform: capitalize;
}
.calendar .calendar-container .calendar-wrapper .calendar-body .events #carousel-container .carousel-item .event-preview label {
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}
.calendar .calendar-container .calendar-wrapper .calendar-body .events #carousel-container .carousel-item .event-preview .event-details {
  display: none; /* Initially hide event details */
  padding: 20px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.calendar .calendar-container .calendar-wrapper .calendar-body .events #carousel-container .carousel-item .event-preview .event-details.show {
  display: block; /* Show event details when .show class is added */
}
.calendar .calendar-container .calendar-wrapper .calendar-body .events #carousel-container .carousel-item .event-preview .event-details p:last-child {
  background-color: unset;
  color: #000000;
  font-weight: unset;
}
.calendar .calendar-container .calendar-wrapper .calendar-body .events button {
  width: 20%;
  padding: 5px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 900;
  text-transform: capitalize;
  margin-left: 75%;
}
.calendar .calendar-container .calendar-wrapper .calendar-body .events button:hover {
  background-color: #0056b3;
}
.calendar .calendar-container .calendar-wrapper .today {
  text-align: center;
}
.calendar .calendar-container .calendar-wrapper .today h2 {
  margin-bottom: 10px;
}
.calendar .calendar-container .calendar-wrapper .today #currentDateTime {
  font-size: 18px;
  font-weight: bold;
}
.calendar .calendar-container .calendar-wrapper .today #currentDateTime span.time {
  font-size: 36px;
  margin-top: 15px;
  color: #333; /* Example color */
  /* Add any other styles you want */
}

.registration .container {
  max-width: 100%;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  display: flex;
  justify-content: center;
  top: 10%;
  right: 0%;
  width: 100%;
  height: max-content;
  margin: 0 auto;
}
.registration .container .reg-wrapper {
  padding: 5% 0px 5% 0px;
  width: 1024px;
}
.registration .container .reg-wrapper h2 {
  text-align: center;
  max-width: 500px;
  background-color: white;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  text-transform: uppercase;
}
.registration .container .reg-wrapper form {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.registration .container .reg-wrapper form label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 18px;
}
.registration .container .reg-wrapper form input[type=text],
.registration .container .reg-wrapper form input[type=email],
.registration .container .reg-wrapper form input[type=password],
.registration .container .reg-wrapper form select {
  width: 100%;
  padding: 10px;
  margin: 10px 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.registration .container .reg-wrapper form input[type=submit] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  font-size: 18px;
  font-weight: 900;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.registration .container .reg-wrapper form input[type=submit]:hover {
  background-color: #0056b3;
}
.registration .container .reg-wrapper form span {
  color: red;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
  padding: 5px;
  float: right;
}

.verifyReg .container {
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  top: 30%;
  right: 0%;
  width: 100%;
  margin: 0 auto;
  min-height: 73.4vh;
}
.verifyReg .container .verifyReg-wrapper {
  width: 350px;
  height: -moz-max-content;
  height: max-content;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  align-items: center;
}
.verifyReg .container .verifyReg-wrapper h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
}
.verifyReg .container .verifyReg-wrapper .verifyReg-form {
  margin-bottom: 15px;
}
.verifyReg .container .verifyReg-wrapper .verifyReg-form .error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}
.verifyReg .container .verifyReg-wrapper .verifyReg-form label {
  display: block;
  padding-bottom: 10px;
  font-size: 18px;
}
.verifyReg .container .verifyReg-wrapper .verifyReg-form form {
  display: flex;
}
.verifyReg .container .verifyReg-wrapper .verifyReg-form form input[type=text] {
  width: 75%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
}
.verifyReg .container .verifyReg-wrapper .verifyReg-form form span {
  color: red;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
  padding: 5px;
  float: right;
}

.log-form .container {
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  top: 10%;
  right: 0%;
  width: 100%;
  margin: 0 auto;
  min-height: 71vh;
}
.log-form .container .log-wrapper {
  width: 350px;
  height: -moz-max-content;
  height: max-content;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  align-items: center;
}
.log-form .container .log-wrapper h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
}
.log-form .container .log-wrapper .form-group {
  margin-bottom: 15px;
}
.log-form .container .log-wrapper .form-group label {
  display: block;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}
.log-form .container .log-wrapper .form-group input[type=email],
.log-form .container .log-wrapper .form-group input[type=password],
.log-form .container .log-wrapper .form-group input[type=text i] {
  min-width: 95%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
}
.log-form .container .log-wrapper button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 20px;
}
.log-form .container .log-wrapper button:hover {
  background-color: #0056b3;
}
.log-form .container .log-wrapper .error-message {
  color: red;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.386);
  padding: 5px;
}

.forgetPass-form .container {
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  top: 10%;
  right: 0%;
  width: 100%;
  margin: 0 auto;
  min-height: 71vh;
}
.forgetPass-form .container .forgetPass-wrapper {
  width: 350px;
  height: -moz-max-content;
  height: max-content;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  align-items: center;
}
.forgetPass-form .container .forgetPass-wrapper h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
}
.forgetPass-form .container .forgetPass-wrapper form {
  margin-bottom: 15px;
}
.forgetPass-form .container .forgetPass-wrapper form label {
  display: block;
  padding-bottom: 10px;
  font-size: 18px;
}
.forgetPass-form .container .forgetPass-wrapper form .form-group {
  display: flex;
}
.forgetPass-form .container .forgetPass-wrapper form .form-group input[type=email] {
  width: 68%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
}

.reset-pass .container {
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  top: 30%;
  right: 0%;
  width: 100%;
  margin: 0 auto;
  min-height: 73.4vh;
}
.reset-pass .container .reset-wrapper {
  width: 350px;
  height: -moz-max-content;
  height: max-content;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  align-items: center;
}
.reset-pass .container .reset-wrapper h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
}
.reset-pass .container .reset-wrapper .reset-form {
  margin-bottom: 15px;
}
.reset-pass .container .reset-wrapper .reset-form .error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}
.reset-pass .container .reset-wrapper .reset-form label {
  display: block;
  padding-bottom: 10px;
  font-size: 18px;
}
.reset-pass .container .reset-wrapper .reset-form form {
  display: flex;
}
.reset-pass .container .reset-wrapper .reset-form form input[type=text] {
  width: 75%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
}

.newpass .container {
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  top: 30%;
  right: 0%;
  width: 100%;
  margin: 0 auto;
  min-height: 71vh;
}
.newpass .container .newpass-wrapper {
  width: 350px;
  height: -moz-max-content;
  height: max-content;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  align-items: center;
}
.newpass .container .newpass-wrapper .reset-form {
  margin-bottom: 15px;
}
.newpass .container .newpass-wrapper .reset-form h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
}
.newpass .container .newpass-wrapper .reset-form form input[type=hidden] {
  width: 75%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
}
.newpass .container .newpass-wrapper .reset-form form .form-group {
  margin-bottom: 20px;
  text-align: center;
}
.newpass .container .newpass-wrapper .reset-form form .form-group label {
  display: block;
  padding-bottom: 10px;
  font-size: 18px;
}
.newpass .container .newpass-wrapper .reset-form form .form-group input[type=password] {
  width: 75%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
}
.newpass .container .newpass-wrapper .reset-form form .form-group button {
  display: flex;
  justify-content: center;
}
.newpass .container .newpass-wrapper .reset-form button {
  display: block;
  margin: 15px auto;
  width: 60%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #000;
  cursor: pointer;
  font-size: 14px;
  font-weight: 900;
}
.newpass .container .newpass-wrapper .reset-form button:hover {
  background-color: #0056b3;
}
.newpass .container .newpass-wrapper .newPass-container {
  color: red;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.386);
  padding: 5px;
}

.request .container {
  max-width: 500px;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  margin: 100px auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.request .container .req-wrapper {
  padding: 5% 0px 5% 0px;
  width: 1024px;
}
.request .container .req-wrapper h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  width: 50%;
}
.request .container .req-wrapper .form-group {
  margin-bottom: 20px;
}
.request .container .req-wrapper .form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 18px;
}
.request .container .req-wrapper .form-group input[type=text],
.request .container .req-wrapper .form-group input[type=number],
.request .container .req-wrapper .form-group textarea,
.request .container .req-wrapper .form-group input[type=datetime-local] {
  width: 50%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 18px;
}
.request .container .req-wrapper .form-group textarea {
  height: 100px;
}
.request .container .req-wrapper .req-button input[type=submit], .request .container .req-wrapper .req-button a {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  font-size: 18px;
  font-weight: 900;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.request .container .req-wrapper .req-button input[type=submit]:hover, .request .container .req-wrapper .req-button a:hover {
  background-color: #0056b3;
}
.request .container .req-wrapper .req-button button {
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.request .container .req-wrapper .req-button button:hover {
  background-color: #0056b3;
}

.admin-badge .container {
  max-width: 100%;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  display: flex;
  justify-content: center;
  top: 10%;
  right: 0%;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.admin-badge .container .abadge-wrapper {
  margin-top: 100px;
}
.admin-badge .container .abadge-wrapper .row1 {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 5rem;
}
.admin-badge .container .abadge-wrapper .row1 .small-box-1 {
  background: #81d381;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 20px;
}
.admin-badge .container .abadge-wrapper .row1 .small-box-1:nth-child(1) {
  background-color: rgb(76, 245, 61);
}
.admin-badge .container .abadge-wrapper .row1 .small-box-1:nth-child(2) {
  background-color: rgb(20, 122, 239);
}
.admin-badge .container .abadge-wrapper .row1 .small-box-1:nth-child(3) {
  background-color: rgb(233, 236, 31);
}
.admin-badge .container .abadge-wrapper .row1 .small-box-1 .badge {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}
.admin-badge .container .abadge-wrapper .row1 .small-box-1 .badge .inner {
  text-align: center;
}
.admin-badge .container .abadge-wrapper .row1 .small-box-1 .badge .inner h3 {
  font-size: 36px;
  margin: 0;
  color: #333;
}
.admin-badge .container .abadge-wrapper .row1 .small-box-1 .badge .inner p {
  margin: 0px;
  color: black;
}
.admin-badge .container .abadge-wrapper .row1 .small-box-1 .badge .icon {
  font-size: 48px;
  color: black;
}

.event-badge .container {
  max-width: 100%;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  display: flex;
  justify-content: center;
  top: 10%;
  right: 0%;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.event-badge .container .ebadge-wrapper {
  margin-top: 100px;
}
.event-badge .container .ebadge-wrapper .row1 {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 5rem;
}
.event-badge .container .ebadge-wrapper .row1 .small-box-1 {
  background: #81d381;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 20px;
}
.event-badge .container .ebadge-wrapper .row1 .small-box-1:nth-child(1) {
  background-color: rgb(76, 245, 61);
}
.event-badge .container .ebadge-wrapper .row1 .small-box-1:nth-child(2) {
  background-color: rgb(20, 122, 239);
}
.event-badge .container .ebadge-wrapper .row1 .small-box-1:nth-child(3) {
  background-color: rgb(233, 236, 31);
}
.event-badge .container .ebadge-wrapper .row1 .small-box-1 .badge {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}
.event-badge .container .ebadge-wrapper .row1 .small-box-1 .badge .inner {
  text-align: center;
}
.event-badge .container .ebadge-wrapper .row1 .small-box-1 .badge .inner h3 {
  font-size: 36px;
  margin: 0;
  color: #333;
}
.event-badge .container .ebadge-wrapper .row1 .small-box-1 .badge .inner p {
  margin: 0px;
  color: black;
}
.event-badge .container .ebadge-wrapper .row1 .small-box-1 .badge .icon {
  font-size: 48px;
  color: black;
}

.event-list .container {
  max-width: 98%;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  display: flex;
  justify-content: center;
  top: 10%;
  right: 0%;
  margin: 0 auto;
}
.event-list .container .list-wrapper {
  padding: 2% 0px 2% 0px;
  width: 150rem;
}
.event-list .container .list-wrapper .list-title {
  justify-content: center;
  align-items: center;
  width: 51rem;
  background-color: white;
  margin: 0px auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
}
.event-list .container .list-wrapper .list-title h2 {
  margin-bottom: 25px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
.event-list .container .list-wrapper .list-title .filtering {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}
.event-list .container .list-wrapper .list-title .filtering button {
  background-color: #777;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.event-list .container .list-wrapper .list-title .filtering button a {
  color: white;
  text-decoration: none;
}
.event-list .container .list-wrapper .list-title .filtering button i {
  margin-right: 5px;
}
.event-list .container .list-wrapper .list-title .filtering .filter-bar {
  justify-content: right;
  width: 50%;
}
.event-list .container .list-wrapper .list-title .filtering .filter-bar button {
  background-color: #555; /* Change button color */
  color: #fff; /* Change text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 25px;
}
.event-list .container .list-wrapper .list-title .filtering .filter-bar button:hover {
  background-color: #777;
}
.event-list .container .list-wrapper .list-title .filtering .filter-bar input[type=text] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}
.event-list .container .list-wrapper .list-title .filtering .search-bar {
  display: flex;
  align-items: center;
}
.event-list .container .list-wrapper .list-title .filtering .search-bar button {
  background-color: #555; /* Change button color */
  color: #fff; /* Change text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 25px;
}
.event-list .container .list-wrapper .list-title .filtering .search-bar button:hover {
  background-color: #777;
}
.event-list .container .list-wrapper .list-title .filtering .search-bar input[type=text] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  height: 9px;
}
.event-list .container .list-wrapper table {
  width: 56%;
  border-collapse: collapse;
  margin: 20px auto;
  margin-bottom: 20px;
}
.event-list .container .list-wrapper table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.event-list .container .list-wrapper table tr:nth-child(odd) {
  background-color: #f7f5f5;
}
.event-list .container .list-wrapper table tr:hover {
  background-color: #ddd;
}
.event-list .container .list-wrapper table tr th {
  background-color: #ece9e9;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  border: 1px solid #767575;
  padding: 10px 0;
}
.event-list .container .list-wrapper table tr td {
  border: 1px solid #767575;
  padding: 8px;
  text-align: center;
  cursor: pointer;
}
.event-list .container .list-wrapper table tr td span {
  margin-bottom: 5px;
}
.event-list .container .list-wrapper table tr td:nth-child(3) {
  text-transform: uppercase;
}
.event-list .container .list-wrapper table tr td.event-details {
  padding: 20px;
  margin-top: 20px;
  text-align: justify;
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid;
}
.event-list .container .list-wrapper table tr td.event-details p {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  gap: 10px;
  margin: 10px 0;
  width: 100%;
  font-size: 16px;
  font-weight: unset;
}
.event-list .container .list-wrapper table tr td.event-details p span {
  font-weight: bold;
  margin-right: 5px;
}
.event-list .container .list-wrapper table tr td.event-details p:first-child {
  text-transform: capitalize;
  font-style: italic;
  font-weight: bold;
}
.event-list .container .list-wrapper table tr td.event-details p:first-child span {
  font-style: initial;
}
.event-list .container .list-wrapper table tr td.event-details .additional-details {
  padding: 20px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.event-list .container .list-wrapper table tr td.event-details .additional-details p:first-child {
  text-transform: justify;
  font-style: initial;
  font-weight: unset;
  display: block;
}
.event-list .container .list-wrapper table tr td.event-details .additional-details p:first-child span {
  padding-bottom: 18px;
}
.event-list .container .list-wrapper table tr td.event-details .additional-details p:last-child {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

/* Base styles */
/* For screens smaller than 768px (e.g., tablets) */
.user-badge .container {
  max-width: 100%;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  display: flex;
  justify-content: center;
  top: 10%;
  right: 0%;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.user-badge .container .ubadge-wrapper {
  margin-top: 100px;
}
.user-badge .container .ubadge-wrapper .row1 {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 5rem;
}
.user-badge .container .ubadge-wrapper .row1 .small-box-1 {
  background: #81d381;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 20px;
}
.user-badge .container .ubadge-wrapper .row1 .small-box-1:nth-child(1) {
  background-color: rgb(76, 245, 61);
}
.user-badge .container .ubadge-wrapper .row1 .small-box-1:nth-child(2) {
  background-color: rgb(20, 122, 239);
}
.user-badge .container .ubadge-wrapper .row1 .small-box-1:nth-child(3) {
  background-color: rgb(233, 236, 31);
}
.user-badge .container .ubadge-wrapper .row1 .small-box-1 .badge {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}
.user-badge .container .ubadge-wrapper .row1 .small-box-1 .badge .inner {
  text-align: center;
}
.user-badge .container .ubadge-wrapper .row1 .small-box-1 .badge .inner h3 {
  font-size: 36px;
  margin: 0;
  color: #333;
}
.user-badge .container .ubadge-wrapper .row1 .small-box-1 .badge .inner p {
  margin: 0px;
  color: black;
}
.user-badge .container .ubadge-wrapper .row1 .small-box-1 .badge .icon {
  font-size: 48px;
  color: black;
}

.user-list .container {
  max-width: 98%;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  display: flex;
  justify-content: center;
  top: 10%;
  right: 0%;
  margin: 0 auto;
}
.user-list .container .list-wrapper {
  padding: 2% 0px 2% 0px;
  width: 150rem;
}
.user-list .container .list-wrapper .list-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 51rem;
  background-color: white;
  margin: 0px auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
}
.user-list .container .list-wrapper .list-title h2 {
  margin: 0px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
.user-list .container .list-wrapper .list-title .search-bar {
  display: flex;
  justify-content: right;
  width: 50%;
}
.user-list .container .list-wrapper .list-title .search-bar button {
  padding: 8px 12px;
  background-color: #555; /* Change button color */
  color: #fff; /* Change text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 0;
}
.user-list .container .list-wrapper .list-title .search-bar button:hover {
  background-color: #777;
}
.user-list .container .list-wrapper .list-title .search-bar input[type=text] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}
.user-list .container .list-wrapper table {
  width: 56%;
  border-collapse: collapse;
  margin: 20px auto;
  margin-bottom: 20px;
}
.user-list .container .list-wrapper table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.user-list .container .list-wrapper table tr:nth-child(odd) {
  background-color: #f7f5f5;
}
.user-list .container .list-wrapper table tr:hover {
  background-color: #ddd;
}
.user-list .container .list-wrapper table tr th {
  background-color: #ece9e9;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  border: 1px solid #767575;
  padding: 10px 0;
}
.user-list .container .list-wrapper table tr td {
  border: 1px solid #767575;
  padding: 8px;
  text-align: center;
}
.user-list .container .list-wrapper table tr td span {
  margin-bottom: 5px;
}

.depart .container {
  max-width: 100%;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  display: flex;
  justify-content: center;
  top: 10%;
  right: 0%;
  width: 150%;
  margin: 0 auto;
}
.depart .container .depart-wrapper {
  padding: 4% 0px 2% 0px;
  width: 150rem;
}
.depart .container .depart-wrapper h2 {
  text-align: center;
  max-width: 51rem;
  background-color: white;
  margin: 0px auto;
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
  text-transform: uppercase;
}
.depart .container .depart-wrapper .form-container {
  max-width: 50rem;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.depart .container .depart-wrapper .form-container form {
  display: flex;
}
.depart .container .depart-wrapper .form-container form .form-group {
  display: flex;
  gap: 25px;
}
.depart .container .depart-wrapper .form-container form .form-group .col-6 {
  align-items: center;
}
.depart .container .depart-wrapper .form-container form .form-group .col-6 label {
  display: inline-block;
  margin-bottom: 8px;
  color: black;
  font-weight: bold;
  width: 200px;
  font-size: 18px;
}
.depart .container .depart-wrapper .form-container form .form-group .col-6 input, .depart .container .depart-wrapper .form-container form .form-group .col-6 select {
  width: 90%;
  padding: 10px;
  margin: 5px 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.depart .container .depart-wrapper .form-container form button {
  width: 20%;
  background-color: rgb(240, 41, 41);
  font-size: 15px;
  font-weight: 900;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 33px;
  margin-bottom: 8px;
}
.depart .container .depart-wrapper .form-container form button:hover {
  background-color: green;
}
.depart .container .depart-wrapper .form-container form button .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 20px;
  margin-right: 10px;
  align-items: center;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.depart .container .depart-wrapper .form-container .error-message {
  font-weight: normal;
  font-size: 18px;
  background-color: #f0f0f0;
  margin-top: 10px;
  padding: 5px 0;
}

.depart-list .container {
  max-width: 98%;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  display: flex;
  justify-content: center;
  top: 10%;
  right: 0%;
  margin: 0 auto;
}
.depart-list .container .list-wrapper {
  padding: 0% 0px 2% 0px;
  width: 150rem;
}
.depart-list .container .list-wrapper .list-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 51rem;
  background-color: white;
  margin: 0px auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
}
.depart-list .container .list-wrapper .list-title h2 {
  margin: 0px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
.depart-list .container .list-wrapper .list-title .search-bar {
  display: flex;
  justify-content: right;
  width: 50%;
}
.depart-list .container .list-wrapper .list-title .search-bar button {
  padding: 8px 12px;
  background-color: #555; /* Change button color */
  color: #fff; /* Change text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 0;
}
.depart-list .container .list-wrapper .list-title .search-bar button:hover {
  background-color: #777;
}
.depart-list .container .list-wrapper .list-title .search-bar input[type=text] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}
.depart-list .container .list-wrapper table {
  width: 56%;
  border-collapse: collapse;
  margin: 20px auto;
  margin-bottom: 20px;
}
.depart-list .container .list-wrapper table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.depart-list .container .list-wrapper table tr:nth-child(odd) {
  background-color: #f7f5f5;
}
.depart-list .container .list-wrapper table tr:hover {
  background-color: #ddd;
}
.depart-list .container .list-wrapper table tr th {
  background-color: #ece9e9;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  border: 1px solid #767575;
  padding: 10px 0;
}
.depart-list .container .list-wrapper table tr td {
  border: 1px solid #767575;
  padding: 8px;
  text-align: center;
}

.device .container {
  max-width: 100%;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  display: flex;
  justify-content: center;
  top: 10%;
  right: 0%;
  width: 100%;
  height: max-content;
  margin: 0 auto;
}
.device .container .device-wrapper {
  padding: 4% 0px 2% 0px;
  width: 150rem;
}
.device .container .device-wrapper h2 {
  text-align: center;
  max-width: 51rem;
  background-color: white;
  margin: 0px auto;
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
  text-transform: uppercase;
}
.device .container .device-wrapper .form-container {
  max-width: 50rem;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.device .container .device-wrapper .form-container form {
  display: flex;
}
.device .container .device-wrapper .form-container form .form-group {
  display: flex;
  gap: 25px;
}
.device .container .device-wrapper .form-container form .form-group .col-6 {
  align-items: center;
}
.device .container .device-wrapper .form-container form .form-group .col-6 label {
  display: inline-block;
  margin-bottom: 8px;
  color: black;
  font-weight: bold;
  width: 200px;
  font-size: 18px;
}
.device .container .device-wrapper .form-container form .form-group .col-6 input, .device .container .device-wrapper .form-container form .form-group .col-6 select {
  width: 90%;
  padding: 10px;
  margin: 5px 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.device .container .device-wrapper .form-container form button {
  width: 20%;
  background-color: rgb(240, 41, 41);
  font-size: 15px;
  font-weight: 900;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 33px 10px 8px 10px;
}
.device .container .device-wrapper .form-container form button:hover {
  background-color: green;
}
.device .container .device-wrapper .form-container form button .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 20px;
  margin-right: 10px;
  align-items: center;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.device .container .device-wrapper .form-container .error-message {
  font-weight: normal;
  font-size: 18px;
  background-color: #f0f0f0;
  margin-top: 10px;
  padding: 5px 0;
}

.device-list .container {
  max-width: 100%;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  display: flex;
  justify-content: center;
  top: 10%;
  right: 0%;
  width: 100%;
  height: max-content;
  margin: 0 auto;
}
.device-list .container .list-wrapper {
  padding: 0% 0px 2% 0px;
  width: 100rem;
}
.device-list .container .list-wrapper .list-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 51rem;
  background-color: white;
  margin: 0px auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
}
.device-list .container .list-wrapper .list-title h2 {
  display: flex;
  justify-content: center;
  margin: 0px;
  text-transform: uppercase;
}
.device-list .container .list-wrapper .list-title .search-bar {
  display: flex;
  justify-content: right;
  width: 50%;
}
.device-list .container .list-wrapper .list-title .search-bar button {
  padding: 8px 12px;
  background-color: #555; /* Change button color */
  color: #fff; /* Change text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 0;
}
.device-list .container .list-wrapper .list-title .search-bar button:hover {
  background-color: #777;
}
.device-list .container .list-wrapper .list-title .search-bar input[type=text] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}
.device-list .container .list-wrapper table {
  width: 55%;
  border-collapse: collapse;
  margin: 20px auto;
  margin-bottom: 20px;
}
.device-list .container .list-wrapper table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.device-list .container .list-wrapper table tr:nth-child(odd) {
  background-color: #f7f5f5;
}
.device-list .container .list-wrapper table tr:hover {
  background-color: #ddd;
}
.device-list .container .list-wrapper table tr th {
  background-color: #ece9e9;
  padding: 10px 0;
  border: 1px solid #767575;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.device-list .container .list-wrapper table tr td {
  border: 1px solid #767575;
  padding: 8px;
  text-align: center;
}

.facility .container {
  max-width: 100%;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  display: flex;
  justify-content: center;
  top: 10%;
  right: 0%;
  width: 150%;
  margin: 0 auto;
}
.facility .container .facility-wrapper {
  padding: 4% 0px 2% 0px;
  width: 150rem;
}
.facility .container .facility-wrapper h2 {
  text-align: center;
  max-width: 51rem;
  background-color: white;
  margin: 0px auto;
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
  text-transform: uppercase;
}
.facility .container .facility-wrapper .form-container {
  max-width: 50rem;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.facility .container .facility-wrapper .form-container form {
  display: flex;
}
.facility .container .facility-wrapper .form-container form .form-group {
  display: flex;
  gap: 10px;
}
.facility .container .facility-wrapper .form-container form .form-group .col-6:first-child {
  align-items: center;
}
.facility .container .facility-wrapper .form-container form .form-group .col-6:first-child label {
  display: inline-block;
  margin-bottom: 8px;
  color: black;
  font-weight: bold;
  width: 110px;
  font-size: 18px;
}
.facility .container .facility-wrapper .form-container form .form-group .col-6:first-child input, .facility .container .facility-wrapper .form-container form .form-group .col-6:first-child select {
  width: 90%;
  padding: 10px;
  margin: 5px 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.facility .container .facility-wrapper .form-container form .form-group .col-6 {
  align-items: center;
}
.facility .container .facility-wrapper .form-container form .form-group .col-6 label {
  display: inline-block;
  margin-bottom: 8px;
  color: black;
  font-weight: bold;
  width: 200px;
  font-size: 18px;
}
.facility .container .facility-wrapper .form-container form .form-group .col-6 input, .facility .container .facility-wrapper .form-container form .form-group .col-6 select {
  width: 90%;
  padding: 10px;
  margin: 5px 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.facility .container .facility-wrapper .form-container form button {
  width: 20%;
  background-color: rgb(240, 41, 41);
  font-size: 15px;
  font-weight: 900;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 33px;
  margin-bottom: 8px;
}
.facility .container .facility-wrapper .form-container form button:hover {
  background-color: green;
}
.facility .container .facility-wrapper .form-container form button .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 20px;
  margin-right: 10px;
  align-items: center;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.facility .container .facility-wrapper .form-container .error-message {
  font-weight: normal;
  font-size: 18px;
  background-color: #f0f0f0;
  margin-top: 10px;
  padding: 5px 0;
}

.facility-list .container {
  width: 98%;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  display: flex;
  justify-content: center;
  top: 10%;
  right: 0%;
  margin: 0 auto;
}
.facility-list .container .list-wrapper {
  padding: 2% 0px 2% 0px;
  width: 150rem;
}
.facility-list .container .list-wrapper .list-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 51rem;
  background-color: white;
  margin: 0px auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
}
.facility-list .container .list-wrapper .list-title h2 {
  display: flex;
  justify-content: center;
  margin: 0px;
  text-transform: uppercase;
}
.facility-list .container .list-wrapper .list-title .search-bar {
  display: flex;
  justify-content: right;
  width: 50%;
}
.facility-list .container .list-wrapper .list-title .search-bar button {
  padding: 8px 12px;
  background-color: #555; /* Change button color */
  color: #fff; /* Change text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 0;
}
.facility-list .container .list-wrapper .list-title .search-bar button:hover {
  background-color: #777;
}
.facility-list .container .list-wrapper .list-title .search-bar input[type=text] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}
.facility-list .container .list-wrapper table {
  width: 56%;
  border-collapse: collapse;
  margin: 20px auto;
  margin-bottom: 20px;
}
.facility-list .container .list-wrapper table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.facility-list .container .list-wrapper table tr:nth-child(odd) {
  background-color: #f7f5f5;
}
.facility-list .container .list-wrapper table tr:hover {
  background-color: #ddd;
}
.facility-list .container .list-wrapper table tr th {
  background-color: #ece9e9;
  padding: 10px 0;
  border: 1px solid #767575;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.facility-list .container .list-wrapper table tr td {
  border: 1px solid #767575;
  padding: 8px;
  text-align: center;
}

.staff-badge .container {
  max-width: 100%;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  display: flex;
  justify-content: center;
  top: 10%;
  right: 0%;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.staff-badge .container .sbadge-wrapper {
  margin-top: 100px;
}
.staff-badge .container .sbadge-wrapper .row1 {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 5rem;
}
.staff-badge .container .sbadge-wrapper .row1 .small-box-1 {
  background: #81d381;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 20px;
}
.staff-badge .container .sbadge-wrapper .row1 .small-box-1:nth-child(1) {
  background-color: rgb(76, 245, 61);
}
.staff-badge .container .sbadge-wrapper .row1 .small-box-1:nth-child(2) {
  background-color: rgb(20, 122, 239);
}
.staff-badge .container .sbadge-wrapper .row1 .small-box-1:nth-child(3) {
  background-color: rgb(233, 236, 31);
}
.staff-badge .container .sbadge-wrapper .row1 .small-box-1 .badge {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}
.staff-badge .container .sbadge-wrapper .row1 .small-box-1 .badge .inner {
  text-align: center;
}
.staff-badge .container .sbadge-wrapper .row1 .small-box-1 .badge .inner h3 {
  font-size: 36px;
  margin: 0;
  color: #333;
}
.staff-badge .container .sbadge-wrapper .row1 .small-box-1 .badge .inner p {
  margin: 0px;
  color: black;
}
.staff-badge .container .sbadge-wrapper .row1 .small-box-1 .badge .icon {
  font-size: 48px;
  color: black;
}/*# sourceMappingURL=style.css.map */